body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 5%;
}

.btn {
    background-color: royalblue;
    border-style: dotted;
}

.watermark {
    margin-top: 20%;
    color: black;
}